<!doctype html>
<html>
<head>
    <title><%= "#{@profile['first_name']} #{@profile['last_name']}" %></title>
    <meta name="Description" content="<%= @page['meta_description'] %>">
</head>
<body>

<%= @profile['description'] %>

<ul>
  <% @profile['links'].each do |service, link| %>
    <li><a href="<%= link %>"><%= service.capitalize %></a></li>
  <% end %>
</ul>

</body>
</html>
